html, body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .1em;
  text-align: justify;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: lighter;
}

*, *:before, *:after {
  /* パディングとボーダーを幅と高さに含める */
	box-sizing: border-box;
}
#snslogo{
  display: -webkit-flex;
  display: flex;
  margin:10px;
  justify-content: center;
}

.logo{
  display: inline-block;
  padding: 15px;
  width: 140px;
}

/* 文字のグラデーション用 */
.color-grd{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: white;
  background-image: linear-gradient(to right, #ffbe44 , #ff5959);
}

.contact{
  float:right;
  padding: 15px;
}

h1{
  font-weight: lighter;
  display: inline-block;
  font-size: 36px;
  margin:20px auto 0px;
  color: #fff;
}

.about{
  text-align: center;
  padding: 5px;
}

.scroll-fade{
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

h2{
  display: inline-block;
  font-size: 24px;
}

.featureList{
  width: 100%;
	display: flex;
	display: -ms-flexbox; /* IE10 */
	flex-wrap: wrap;
	-ms-flex-wrap: wrap; 
}

.meritBox{
  width: 30%;
  height: 300px;
  padding: 20px 30px;
  margin: auto;
  display: inline-block;
  border: solid 1px #ff5959;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
	.meritBox{
    width: 45%;
    margin-bottom: 30px;
	}
}
@media screen and (max-width: 480px) {
  .meritBox{
    width: 100%;
    height: fit-content;
	}
}

.meritImg{
  height: 70px;
  text-align: center;
  padding: 5px;
}

.freePrice{
  font-size: 60px;
  font-weight: bolder;
}

#menu{
  display: table;
  width:100vw;
  background-color: #ff5959;
  color:#fff;
  text-align: center;
  margin-bottom: 10px;
}

label{
  display:block;
}

.jalanlogo{
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: unset;
}

p,small{
  text-align: left;
  word-break:break-all;
}

.caution{
  border: solid 1px #ff5959;
  border-radius: 50px;
  padding: 2px 10px;
  color:white;
  background-color: #fff;
}

.menu_caution{
  color:white;
  text-decoration: underline;
}

.menu_caution:hover{
  color: #fff;
}

.h_detail{
  float: left;
}

hr{
  clear: both;
  border: 0.5px #fff solid;
  opacity: 0.5;
  margin: 15px 0px;
}

#menu_input{
  padding: 20px 5px 10px 5px;
  font-size: 20px;
}

#picky_btn{
 padding: 5px 0px;
 margin: 5px 0 0 0;
}

#cal{
  position: relative;
  left: 30px;
  height: 17px;
  width: 16px;
  color: #ff5959;
  z-index: 1;
}

.cal_input {
  width: 200px;
}
.budget {
  width: 90px;
  font-size: 18px;
}

#picky_btn span{
  padding: 5px 0px;
  margin: 5px 0px;
  color:#fff;
  font-weight: lighter;
 }

select::-ms-expand{
	display: none;
}

select {
  margin: 5px 0 5px 0 ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
  font-family: inherit;
  font-size: 18px;
  background-color: rgb(248, 248, 248);
  background-image:
   linear-gradient(45deg, transparent 50%, gray 50%),
   linear-gradient(135deg, gray 50%, transparent 50%),
   linear-gradient(to right, #ccc, #ccc);
  background-position:
   calc(100% - 20px) calc(1em + 1px),
   calc(100% - 15px) calc(1em + 1px),
   calc(100% - 2.5em) 0.5em;
  background-size:
   5px 5px,
   5px 5px,
   1px 1em;
  background-repeat: no-repeat;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
	border: none;
  cursor: pointer;
}

select:focus {
  background-image:
    linear-gradient(45deg, #fff 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #fff 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1em;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input{
  display: inline-block;
  padding: 10px 5px 10px 0;
  margin:10px 0;
  border-radius: 3px;
  text-align: right;
  font-size: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

.btn {
  font-size: 18px;
  padding: 10px 25px;
  margin: 10px 0px;
  display: block;
  border-radius: 15px;
  text-align: center;
  background-size: 180% auto;
  transition: all .3s ease-out;
}

.search{
  background-color:#ffbe44;
  color: #fff;
  border: solid 1px #fff;
  width: fit-content;
  margin: 10px auto;
}

.search:hover {
  color: black;
  background-color:#fff;
  border: solid 1px #ff5959;
}

.condition{
 clear: both;
 font-size: 18px;
 font-weight: bolder;
 padding:0 48px;
 border:1px #ff5959 solid;
 border-radius: 10px;
 cursor: pointer;
}

#mail_input{
  height: 50px;
  width: 280px;
  border: solid 1px #ff5959;
  text-align: left;
  padding: 10px;
}
#mail_input:focus{
  border: solid 3px #ff5959;
  outline: 0;
}

.watch{
  text-align: center;
  font-weight: bolder;
  width: 280px;
  height: 50px;
  border-radius: 3px;
  margin: auto;
  cursor: pointer;
}

#watch_wait{
  display: none;
  margin: auto;
  color: #ff5959;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* 背景のグラデーション */
.gradient {
  color: white;
  background-image: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, #ff5959 100%);
  background-image: -webkit-linear-gradient(left, #ffbe44 0%, #ff5959 100%);
  background-image: linear-gradient(to right, #ffbe44 0%, #ff5959 100%);
}

#btn-pagetop{
  color: #ff5959;
  font-size:50px;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}

#register_modal{
  display: none;
}

#modal_notice{
  width: 80%;
  margin: auto;
}

#modal_close{
  margin: 30px auto;
  background-color: gray;
  color: #fff;
  font-size: 16px;
  width: fit-content;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  -webkit-transition: all 1.2s ease; /* 1.2秒でフェードアウト */
          transition: all 1.2s ease;
  background-color:rgb(165, 163, 163);
  opacity:0.8;
}

#register_done{
  display:none;
}

#maillogo{
  animation: anim 1s;
}
@keyframes anim {
  0% {
  transform: translateX(-300px);
  }
  100% {
  transform: translateX(0px);
  }
}

.register_form{
  position: fixed;
  top: 20%;
  left: 10%;
  right: 10%;
  border-radius: 10px;
  margin:auto;
  z-index: 99;
  background-color:#fff;
  text-align: center;
}

#close{
  display: block;
  text-align: end;
  padding: 0px 10px;
  position: relative;
  font-size: 25px;
  cursor: pointer;
}

#watch_register{
  padding: 5px;
}

.mailaddress{
  color: #ff5959;
  text-align: center;
  padding-right: 160px;
  margin: 0px;
}

/* ローディング*/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 140px;
  height: 140px;
}
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(26, 25, 25) #f8af28e1 #ff5959;
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
          animation: spinner1_1 1.5s infinite linear forwards;
}
.spinner.type1 span {
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}
/* ローディング要素のアニメーション内容 */
@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
/* Loading テキストのアニメーション内容 */
@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease; /* 1.2秒でフェードアウト */
          transition: all 1.2s ease;
  color: #fff; /* ローディングアニメーションカラー */
  background-color:rgb(26, 25, 25);
  opacity:0.8;
}

.box.loaded{
  /* opacity:0.5; */
  display: none;
  visibility:hidden;
  pointer-events:none;
}



/* レート評価 変数 
@charset "UTF-8";*/
.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
  letter-spacing:0;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0-0:after {
  width: 0;
}

.rate1-0:after {
  width: 16px;
}

.rate1-1:after {
  width: 24px;
}

.rate2-0:after {
  width: 32px;
}

.rate2-1:after {
  width: 40px;
}

.rate3-0:after {
  width: 48px;
}

.rate3-1:after {
  width: 56px;
  color: #f87000;
}

.rate4-0:after {
  width: 64px;
  color: #f87000;
}

.rate4-1:after {
  width: 72px;
  color: #f87000;
}

.rate5-0:after {
  width: 80px;
  color: #f87000;
}

.rate_num{
  color: #ffa500;
  font-size: 20px;
}

.reload{
  width:200px;
  color: #f87000;
}

.font_em{
  font-size:18px;
}

#result{
  display: none;
  text-align:center;
  margin: 10px 0;
}

#result_num{
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}

.result_script{
  width: 50vw;
  min-height: 50vh;
  margin: auto;
}

.alert{
  color: red;
}

.availability{
  z-index: 2;
  position: absolute;
  top:0;
  padding: 5px;
  background-color: #ffbe44c2;
  color: #fff;
  font-size: 18px;
  border-radius: 10px 0px;
  text-shadow: 1px 1px 0 #000, 1px 1px 0 #000;
}

.full{
  background-color: rgba(255, 60, 0, 0.712);
}

.wait{
  background-color: rgba(255, 60, 0, 0.856);
  padding: 1px;
  cursor : pointer;
}

.wait:hover{
  background-color: rgba(255, 255, 255, 0.801);
  color:rgb(255, 60, 0);
}

.book{
  background-color: #ffbe44d5;
  padding: 1px;
}

.book:hover{
  background-color: rgba(255, 255, 255, 0.897);
  color:#ffbe44;
}


@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}

/*=============================================================================
  検索結果
=============================================================================*/
div.searchBoxNew{
  width: 100%;
  margin:15px auto;
  position: relative;
  overflow: hidden;
  color: #fff;
  border-bottom: 1px solid #333;
  border-radius: 10px;
}

div.searchBoxNew::after{
  content: "";
  display: block;
  padding-top: 52%;
}

div.searchBoxNew div.content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.searchBoxNew img.bg{
  vertical-align: bottom;
  width: 100%;
}

div.searchBoxNew div.info{
  background: linear-gradient(to bottom, transparent 0, rgba(0,0,0,.65) 100%);
  padding: 60px 3% 0px;
  bottom: 0;
  width: 100%;
  position: absolute;
  color: #fff;
}

div.searchBoxNew h2{
  font-size: 16px;
  text-shadow: 1px 1px 0 #000, 1px 1px 0 #000;
  letter-spacing: 1px;
}

div.searchBoxNew div.lr{
  display: table;
  width: 100%;
}

/* div.searchBoxNew div.left,
div.searchBoxNew div.right{
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
}

div.searchBoxNew div.right{
  text-align: right;
} */

div.searchBoxNew span.countRoom{
  padding: 4px 5px 2px;
  font-size: 11px;
  line-height: 1;
  font-weight: normal;
  text-shadow: none;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 2px;
  background-color: #ce4949;
  border: 1px solid #ce4949;
  margin-top: 1px;
  vertical-align: middle;
}

div.searchBoxNew div.left p.area{
  font-size: 10px;
  margin: 5px 0 3px;
  letter-spacing: 1px;
  line-height: 1;
  background-size: auto 10px;
}

div.searchBoxNew div.left p.area img{
  width: 8px;
  margin-right: 5px;
  vertical-align: top;
}

img.offer-icon{
  height: 22px;
  vertical-align: bottom;
}

div.searchBoxNew img.offer-icon{
  position: absolute;
  top: 8px;
  right: 8px;
}

div.offer-reserve{
  margin-bottom: 10px;
}