@media screen and (max-width:1000px){
  /*画面幅が780pxまで*/

  p{
    font-size: 0.9rem;
  }

  #menu{
    width:100vw;
    height:fit-content;
    float: left;
    background-color: #ff5959;
    color:#fff;
    font-weight: bolder;
    text-align: center;
  }

  #picky_detail{
    text-align: center;
   }

   .result_script{
    width:90vw;
   }
}